<template>
    <div>
        <h3 class="text-center">Edit Articles</h3>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="updateArticles">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.title"
                                />
                            </div>
                            <div class="form-group">
                                <label>Slug</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.slug"
                                />
                            </div>
                            <div class="form-group">
                                <label>Excerpt</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.excerpt"
                                />
                            </div>
                            <div class="form-group">
                                <label>Content</label>
                                <vue-editor v-model="article.content"></vue-editor>
                                <!-- <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.content"
                                /> -->
                            </div>
                            <div class="form-group">
                                <label>Meta Title</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.meta_title"
                                />
                            </div>
                            <div class="form-group">
                                <label>Meta Description</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.meta_description"
                                />
                            </div>
                            <div class="form-group">
                                <label>Meta Keyword</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="article.meta_keyword"
                                />
                            </div>
                            <div class="form-group row">
                                <input
                                    type="checkbox"
                                    class="form-control col-md-2"
                                    v-model="article.is_featured"
                                />
                                <label class="col-md-10">Is Featured?</label>
                            </div>
                            <div class="form-group row">
                                <input
                                    type="checkbox"
                                    class="form-control col-md-2"
                                    v-model="article.is_school_news"
                                />
                                <label class="col-md-10">Is School News?</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Category</label>
                                <select v-model="article.category" class="form-control">
                                    <option
                                        v-for="option in options_c"
                                        v-bind:value="option.value"
                                    >
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tag</label>
                                <select v-model="article.tag" class="form-control">
                                    <option
                                        v-for="option in options_t"
                                        v-bind:value="option.value"
                                    >
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Featured Image</label>
                                <input
                                    type="file"
                                    data-vv-as="featured_image"
                                    class="form-control form-control-sm"
                                    accept="image/*"
                                    @change="selectFeaturedImage"
                                />
                            </div>
                            <div class="form-group">
                                <label>Meta Image</label>
                                <input
                                    type="file"
                                    data-vv-as="meta_image"
                                    class="form-control form-control-sm"
                                    accept="image/*"
                                    @change="selectMetaImage"
                                />
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    import { VueEditor } from "vue2-editor";
    export default {
            components: {
            VueEditor
        },
        data() {
            return {
                article: {},
                options_c: [
                    { text: "Category One", value: "Category One" },
                    { text: "Category Two", value: "Category Two" },
                    { text: "Category Three", value: "Category Three" }
                ],
                options_t: [
                    { text: "Tag One", value: "Tag One" },
                    { text: "Tag Two", value: "Tag Two" },
                    { text: "Tag Three", value: "Tag Three" }
                ]
            }
        },
        created() {
            this.axios
                .get(`http://localhost:8000/api/v1/articles/${this.$route.params.id}`)
                .then((res) => {
                    this.article = res.data;
                });
        },
        methods: {
            selectFeaturedImage(event) {
                let file = event.target.files[0];
                let reader = new FileReader();
                reader.onloadend = file => {
                    this.article.featured_image = reader.result;
                };
                reader.readAsDataURL(file);
            },
            selectMetaImage(event) {
                let file = event.target.files[0];
                let reader = new FileReader();
                reader.onloadend = file => {
                    this.article.meta_image = reader.result;
                };
                reader.readAsDataURL(file);
            },
            updateArticles() {
                this.axios
                    .put(`http://localhost:8000/api/v1/articles/${this.$route.params.id}`, this.article)
                    .then((res) => {
                        this.$router.push({ name: 'home' });
                    });
            }
        }
    }
</script>